<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規登録</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
	<link rel="stylesheet" th:href="@{/css/variables.css}">
	<link rel="stylesheet" th:href="@{/css/theme.css}">
	<script th:src="@{/js/theme.js}"></script>
	<!-- 認証系CSS -->
	<link rel="stylesheet" th:href="@{/css/auth.css}">
</head>

<body>
	<div class="theme-toggle-fixed" th:replace="~{ui/fragments :: theme_toggle_button}"></div>
	<div class="container">
		<div class="header">
			<h1>新規登録</h1>
		</div>

		<div class="content">
			<div class="link-top-right">
				<a th:href="@{/login}">ログインページへ</a>
			</div>

			<p th:if="${errorMessage}" th:text="${errorMessage}" class="error-text"></p>

			<form th:action="@{/register}" th:object="${userForm}" method="post">

				<div class="form-group">
					<label>
						メールアドレス<span class="required">(必須)</span>
					</label>
					<input type="email" th:field="*{email}" placeholder="mail@example.com">
					<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-text"></p>
				</div>

				<div class="form-group">
					<label>
						パスワード<span class="required">(必須)</span>
					</label>
					<input type="password" th:field="*{password}" placeholder="10文字以上、英数字・記号を含む">
				</div>

				<div class="form-group">
					<label>
						パスワード確認<span class="required">(必須)</span>
					</label>
					<input type="password" th:field="*{confirmPassword}" placeholder="再度入力してください">
				</div>

				<button type="submit" class="btn btn-register">
					新規作成
				</button>
			</form>

			<div class="footer-text">
				ご登録にはサービス利用規約にご同意頂く必要が御座います。
				規約は<a th:href="@{/terms}">こちら</a>
			</div>
		</div>
	</div>

	<div class="copyright">© My Shop</div>

</body>

</html>